go 1.22.5

use (
    ./ApplicationServer/Fno_Open_Pos
    ./Webserver
    ./ApplicationServer/Fno_Ord_Dtls_Service
    ./ApplicationServer/Comd_Open_Pos_Service
    ./ApplicationServer/MTF_OPEN_POS
    ./ApplicationServer/Equity_Main_Pos_service
    ./ApplicationServer/Equity_Order_Dtls_Service

)



